//columns need rows!!!!!!
//height 100% for columns to match
//wrap
  //col
  //col
//wrap
  //col
  //col
.header{
    @include pad($padding);
    text-align: center;
  }
.container{
  .card-wrapper{
    @include outer-container(90%);
    .card-homer, .card-willie, .card-marge, .card-bart{
      @include span-columns(12);
      @include margin($padding 0);
      @include pad($padding);
      .card-image{
        float: left;
        img{
          max-width: 50%;
        }
      }
      .card-text{
        float: right;

      }
      .card-footer{
        clear: both;
      }
    }
    @include media ($tablet){
      .card-homer, .card-willie, .card-marge, .card-bart{
        @include margin($padding 0);
        @include span-columns(6);
        @include pad($padding);
        .card-image{
          float: none;
          img{
            max-height:100%;
          }
        }
      }
    }
    @include media ($large){
      .card-homer, .card-willie, .card-marge, .card-bart{
        @include margin($padding 0);
        @include span-columns(12);
        @include pad($padding);
        @include outer-container(12);
        .card-image{
            @include span-columns(6);
          img{
            max-height:70%;
          }
        }
        .card-text{
            @include span-columns(6);
        }
      }
    }
  }
  .footer{
    @include outer-container(100%);
    @include omega();
    .footer-wrap{
      @include outer-container(80%);
      .twitter, .facebook, .pinterest{
        @include span-columns(4);
        @include pad($padding);
      }
    }
  }
}
