//refills code for responsive video
.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0 null null 0);
    @include size(100%);
  }
}
.video{
  display: none;
}
.card-body{
  .card-image{
    img{
    height: 400px;
    }
  }
}
@keyframes bobble{
 0% {
      transform: translate3d(0, 0, 0);
      animation-timing-function: ease-in;
  }
  50% {
      transform: translate3d(0, 10px, 0);
      animation-timing-function: ease-out;
  }
  100% {
      transform: translate3d(0, 0, 0);
  }
}
.header{
  img{
    display: inline-block;
    width: 150px;
    clear: both;
    z-index: -1;
  }
  img:hover{
    animation: bobble 1.5s infinite;
  }
}
